@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* --bg-dots-primary: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxLjUyNyIgY3k9IjIuMDc4IiByPSIxLjUiIGZpbGw9IiMwMDAwMDA4MCIvPjwvc3ZnPg=="); */
  /* --bg-dots-secondary: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxLjUyNyIgY3k9IjIuMDc4IiByPSIxLjUiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4="); */
  --bg-dots-primary: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDcgNTZDNDguNjU2OSA1NiA1MCA1NC42NTY5IDUwIDUzQzUwIDUxLjM0MzEgNDguNjU2OSA1MCA0NyA1MEM0NS4zNDMxIDUwIDQ0IDUxLjM0MzEgNDQgNTNDNDQgNTQuNjU2OSA0NS4zNDMxIDU2IDQ3IDU2WiIgZmlsbD0iYmxhY2siLz4NCjwvc3ZnPg0K");
  --bg-dots-secondary: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDcgNTZDNDguNjU2OSA1NiA1MCA1NC42NTY5IDUwIDUzQzUwIDUxLjM0MzEgNDguNjU2OSA1MCA0NyA1MEM0NS4zNDMxIDUwIDQ0IDUxLjM0MzEgNDQgNTNDNDQgNTQuNjU2OSA0NS4zNDMxIDU2IDQ3IDU2WiIgZmlsbD0iI2ZmZmZmZiIvPg0KPC9zdmc+DQo=");
  --bg-cross: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --primary: #000000;
  --secondary: #ffffff;
  --danger: #ff0000;
  --skyBlue: #56a6d9;
  --gray: #ecebf0;
  --lightGray: #f5f5f5;
  --darkGray: #5c5c5e;

  --logo-width: 350px;
  --header-height: 136px;
  --box-width: 320px;
  --box-height: 64px;
  --base-padding: 2.5rem;
  --mobile-rule: none;
  --desktop-rule: none;
}

* {
  @apply m-0 p-0 box-border;
}

html {
  color-scheme: light;
}

html,
body {
  @apply w-full h-full overflow-x-hidden;
}

body {
  @apply flex items-center justify-center;
}

#__next {
  @apply w-full h-full;
}

input,
textarea {
  @apply font-spaceMono appearance-none rounded-none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

.Button:disabled:hover {
  @apply !shadow-block !translate-x-0 !translate-y-0;
}

.pay-input {
  transition: 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
}

.pay-input::placeholder {
  color: #616161;
}

.pay-input:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 3px,
    rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
}

.pay-input.error:focus {
  box-shadow: 0 0 0 2px var(--danger);
}

.pay-input.error {
  color: var(--danger);
}

.rule-mobile {
  display: var(--mobile-rule);
}

.rule-desktop {
  display: var(--desktop-rule);
}

/* Toast */

.ToastViewport {
  --viewport-padding: 0.25rem;
  position: fixed;
  /* bottom: 0;
  right: 0; *;
  display: flex;
  flex-direction: column; */
  padding: var(--viewport-padding);
  gap: 0.75rem;
  width: 400px;
  max-width: 90vw;
  margin: 0;
  list-style: none;
  z-index: 50;
  outline: none;
}

.ToastRoot {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: #0e121659 0px 10px 38px -10px, #0e121633 0px 10px 20px -15px;
  padding: 1rem;
  display: grid;
  grid-template-areas: "title action";
  grid-template-columns: auto max-content;
  column-gap: 1rem;
  align-items: center;
}

.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}

.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
}

.ToastAction {
  grid-area: action;
}

/* Tooltip */

.TooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet11);
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 50;
}

.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: #ffffff;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --primary: #ffffff;
    --secondary: #000000;
    --danger: #ff0000;
    --skyBlue: #56a6d9;
    --gray: #ecebf0;
    --lightGray: #0a0a0a;
    --darkGray: #7e7e81; */

    --bg-dots-primary: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDcgNTZDNDguNjU2OSA1NiA1MCA1NC42NTY5IDUwIDUzQzUwIDUxLjM0MzEgNDguNjU2OSA1MCA0NyA1MEM0NS4zNDMxIDUwIDQ0IDUxLjM0MzEgNDQgNTNDNDQgNTQuNjU2OSA0NS4zNDMxIDU2IDQ3IDU2WiIgZmlsbD0iYmxhY2siLz4NCjwvc3ZnPg0K");
    --bg-dots-secondary: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNDcgNTZDNDguNjU2OSA1NiA1MCA1NC42NTY5IDUwIDUzQzUwIDUxLjM0MzEgNDguNjU2OSA1MCA0NyA1MEM0NS4zNDMxIDUwIDQ0IDUxLjM0MzEgNDQgNTNDNDQgNTQuNjU2OSA0NS4zNDMxIDU2IDQ3IDU2WiIgZmlsbD0iI2ZmZmZmZiIvPg0KPC9zdmc+DQo=");
    --bg-cross: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --primary: #000000;
    --secondary: #ffffff;
    --danger: #ff0000;
    --skyBlue: #56a6d9;
    --gray: #ecebf0;
    --lightGray: #f5f5f5;
    --darkGray: #5c5c5e;
  }

  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --base-padding: 5rem;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --logo-width: 302px;
    --header-height: 116px;
    --box-width: 300px;
    --box-height: 56px;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --base-padding: 0.75rem;
  }

  .text-xs {
    font-size: 10px;
  }

  .text-sm {
    font-size: 11px;
  }

  .text-base {
    font-size: 13px;
  }

  .text-lg {
    font-size: 15px;
  }

  .text-xl {
    font-size: 16px;
  }

  .text-2xl {
    font-size: 20px;
  }

  .text-3xl {
    font-size: 25px;
  }

  .text-4xl {
    font-size: 30px;
  }

  .text-5xl {
    font-size: 42px;
  }

  .text-6xl {
    font-size: 48px;
  }
}
